<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Game of Life">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game of Life</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
</head>
<body role="document">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="main" class="container">
        <canvas id="game-of-life"></canvas>
    </div>

    <div id="controls" class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Controls</h1>
            </div>
            <div class="panel-body">
                <div class="container">
                    <button type="button" class="btn btn-default step-backward" aria-label="Left Align" title="Step Backward">
                        <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default play" aria-label="Left Align" title="Play">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default pause" aria-label="Left Align" title="Pause">
                        <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default step-forward" aria-label="Left Align" title="Step Forward">
                        <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default reset" aria-label="Left Align" title="Reset">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/assets/js/app.bundle.min.js"></script>
</body>
</html>